@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* gallery section starts */
.gallery_section span, .gallery_section b {
    font-size: 1.2rem;
}
.gallery_section span {
    color: #444;
    margin-bottom: 0.5rem;
}
.gallery_section {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #fbfbf0;
}
.gallery_section a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    opacity: 0;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    transition: opacity 200ms ease-out;
}
.staggered-grid {
    display: grid;
    width: 43.75rem;
    min-height: 100vh;
    padding: 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 9rem);
    grid-gap: 1.5rem;
    animation: fade-and-slide-in 2000ms 1 forwards cubic-bezier(0.17, 0.91, 0.73, 1.03);
}

.item3 .gallery_section .staggered-grid {
    grid-template-rows: repeat(4, 9rem);
}
@keyframes fade-and-slide-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
   }
    100% {
        transform: translateY(0);
        opacity: 1;
   }
}
.picture-container {
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border-radius: 2rem;
    box-shadow: 0 0 0.75rem 0.25rem rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;

}
.picture-container:hover a {
    opacity: 1;
}

div.picture-container:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
div.picture-container:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
div.picture-container:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
div.picture-container:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}
div.picture-container:nth-child(5) {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 7;
}
div.picture-container:nth-child(6) {
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 8;
}
div.picture-container:nth-child(7) {
    grid-column-start: 1;
    grid-row-start: 7;
    grid-row-end: 9;
}
div.picture-container:nth-child(8) {
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 10;
}

.item1 div.picture-container:nth-child(1) {
    background-image: url(../images/designs/culture/liondance.jpg);
}
.item1 div.picture-container:nth-child(2) {
    background-image: url(../images/designs/culture/photo-lines.jpg);
}
.item1 div.picture-container:nth-child(3) {
    background-image: url(../images/designs/culture/photo-liondance.jpg);
}
.item1 div.picture-container:nth-child(4) {
    background-image: url(../images/designs/culture/printmaking.jpg);
}
.item1 div.picture-container:nth-child(5) {
    background-image: url(../images/designs/culture/ImperialChineseGarden.png);
}
.item1 div.picture-container:nth-child(6) {
    background-image: url(../images/designs/culture/fearless.jpg);
}
.item1 div.picture-container:nth-child(7) {
    background-image: url(../images/designs/culture/lookingatyou.jpg);
}
.item1 div.picture-container:nth-child(8) {
    background-image: url(../images/designs/culture/8.svg);
}

.item2 div.picture-container:nth-child(1) {
    background-image: url(../images/designs/nature/blackcherry.jpg);
}
.item2 div.picture-container:nth-child(2) {
    background-image: url(../images/designs/nature/silkpainting.jpg);
}
.item2 div.picture-container:nth-child(3) {
    background-image: url(../images/designs/nature/slikdyeing.jpg);
}
.item2 div.picture-container:nth-child(4) {
    background-image: url(../images/designs/nature/ikebana.jpg);
}
.item2 div.picture-container:nth-child(5) {
    background-image: url(../images/designs/nature/mandala.jpg);
}
.item2 div.picture-container:nth-child(6) {
    background-image: url(../images/designs/nature/snake.jpg);
}
.item2 div.picture-container:nth-child(7) {
    background-image: url(../images/designs/nature/7.svg);
}
.item2 div.picture-container:nth-child(8) {
    background-image: url(../images/designs/nature/8.svg);
}


.item3 div.picture-container:nth-child(1) {
    background-image: url(../images/designs/narrative/CtrlAltDel.png);
}
.item3 div.picture-container:nth-child(2) {
    background-image: url(../images/designs/narrative/ProblamaLlama.png);
}
.item3 div.picture-container:nth-child(3) {
    background-image: url(../images/designs/narrative/IHT_photo.png);
}
.item3 div.picture-container:nth-child(4) {
    background-image: url(../images/designs/narrative/4.svg);
}
.item3 div.picture-container:nth-child(5) {
    background-image: url(../images/designs/narrative/5.svg);
}
.item3 div.picture-container:nth-child(6) {
    background-image: url(../images/designs/narrative/6.svg);
}
.item3 div.picture-container:nth-child(7) {
    background-image: url(../images/designs/narrative/7.svg);
}
.item3 div.picture-container:nth-child(8) {
    background-image: url(../images/designs/narrative/8.svg);
}


.container_gallery {
    padding-top: 5px;
    padding-bottom: 100px;
    background-color: #fbfbf0;
}
.container_gallery h2 {
    text-align: center;
}
.container_gallery .item1,  .container_gallery .item2, .container_gallery .item3{
    margin-top: 100px;
}
/* gallery section ends */

/*hero section starts*/
.hero {
    background-color: white;
    display: flex;
    height: 100vh;
}
.hero .item1 {
    width:50%;
    background: url('../images/designs/hero.svg');
    background-repeat: no-repeat;
    background-position: 20% 35%;
    background-size: 350px;
    background-attachment: fixed;
}
.hero .item2 {
    background-color: white; /* rgb(245, 225, 245) */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #343a40;
}
.hero .item2 span {
    color: rgb(121, 59, 221);
}
.item2 h1 {
    font-weight: bold;
    font-size: 33px;
}
.item2 p {
    color: rgb(17, 16, 16);
    font-size: 17.5px;

}

@media only screen and (max-width: 950px) {
    .hero .item1, .hero .item2, .hero .item3 {
        background-size: 300px;
        background-position: 10% 35%;

        font-family: "Kanit", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .item2 p {
        letter-spacing: normal;
    }
}
@media only screen and (max-width: 700px) {

    .container_gallery {
        padding-top: 5px;
    }
    .container_gallery .item1,  .container_gallery .item2{
        margin-top: 0px;
    }

    .hero {
        flex-direction: column;
        justify-content: space-evenly;
        height: 50vh;
    }
    .hero .item1, .hero .item2, .hero .item3 {
        background-position: 55% 50%;
        background-size: 172px;
        height: 50%;
        width: 100%;
        background-attachment: unset;

        font-family: "Kanit", sans-serif;
        font-weight: 200;
        font-style: normal;
    
    }
    .hero .item2 {
        width: 100%;
    }
    .item2 p {
        letter-spacing: 0px;
    }
}
/*hero section ends*/

.video-container {
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border-radius: 2rem;
    box-shadow: 0 0 0.75rem 0.25rem rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.popup-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
}

.container .popup-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
}

.popup-video span {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}